@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang&family=Lumanosimo&display=swap');
body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

.MainPage {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    font-family: Arial, sans-serif;
    background-image: url("../public/image/peakpx.jpg");
    overflow: hidden;
  }

  .MainLabel {
    font-family: 'Lumanosimo', cursive;
    font-size: 200px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }

  .NicknameField{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width:30%;
    font-size:48px;
    font-family: 'Gowun Batang', serif;
    color: white;
    margin-bottom: 20px;
  }
  
  .ButtonField {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width:15%;
    font-family: Arial, sans-serif;
  }

  .mainInput {
    padding: 10px;
    font-size: 24px;
    background-color: transparent; /* 배경을 투명하게 설정 */
    color:white;
    border: 2px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease;
    box-sizing: content-box;
  }
  
  .mainInput:focus {
    border-color: #72603c;
  }
  
  .mainBtn {
    padding: 12px 24px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background-color: #72603c;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .mainBtn:hover {
    background-color: #8f784b;
  }